@import "~bootstrap/less/bootstrap.less";


.react-autocomplete-Autocomplete__results {
  .dropdown-menu();
}

.react-autocomplete-Results {
  max-height: 100000%;
}

.react-autocomplete-Result {
  cursor: pointer;
  & > a {
    text-decoration: none;
  }
}

.react-autocomplete-Result--active {
  color: @dropdown-link-hover-color;
  background-color: @dropdown-link-hover-bg;
}

.main {
  padding-top: 20px;
}

.no-show > div {
  display: none;
}

input[type="checkbox"].toggle {
  margin: 4px 10px 0px 0px;
  vertical-align: text-bottom;
}

.week-timed-borders {
  list-style-type: none;
  margin-top: 24px;
  padding-left: 0px;
}

.week-timed-borders li:nth-child(2n+1) {
  border-bottom-style: dotted;
}
.week-timed-borders li {
  height: 16px;
  width: 100%;
  border-bottom: 1px solid rgba(216,216,216,.7);
}
.week_label {
  height: 31px;
  line-height: 30px;
  margin-bottom: 1px;
}
.daynames {
  height: 40px;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  float: right;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  //border-bottom: 1px solid rgba(216,216,216,.7);
}
.daynames_item {
  float: left;
  width: percentage(1/6);
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  color: #404040;
}
.week_hours {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 24px;
  padding-bottom: 0;
  list-style-type: none;
  top: 54px;
  padding-left: 0px;
  text-align: right;
  width: 90%;
}
.week_days {
  list-style-type: none;
}

.week.ui.segment {
  height: 610px;
  margin-top: 0px;
}
@separation : 1/6;
.week .col1, .week .col2, .week .col3, .week .col4, .week .col5, .week .col6{
  position: absolute;
  top: 53px;
  height: 480px;
  width: percentage(@separation*1);

  border-right: 1px solid rgba(216,216,216,.7);
}



.week .col1, .week .col-start2 {
  border-left: 1px solid rgba(216,216,216,.7);
  left: 0;
  //background-color: #de7171;
}
.week .col2, .week .col-start2 {
  left: percentage(@separation*1);
  //background-color: #00AA88;
}
.week .col3, .week .col-start3 {
  left: percentage(@separation*2);
  //background-color: #de7171;
}
.week .col4, .week .col-start4 {
  left: percentage(@separation*3);
  //  background-color: #00AA88;
}
.week .col5, .week .col-start5 {
  left: percentage(@separation*4);
  //background-color: #de7171;
}
.week .col6, .week .col-start6 {
  left: percentage(@separation*5);
  //background-color: #00AA88;
}
@white : #eee;
@black : #222;

@red: #f44336;
@pink: #e91e63;
@purple: #9c27b0;
@deep-purple: #673ab7;
@indigo: #3f51b5;
@blue: #2196f3;
@light-blue: #03a9f4;
@cyan: #00bcd4;
@teal: #009688;
@green: #4caf50;
@light-green: #8bc34a;
@lime: #cddc39;
@yellow: #ffeb3b;
@amber: #ffc107;
@orange: #ff9800;
@deep-orange: #ff5722;
@brown: #795548;
@grey: #9e9e9e;
@blue-grey: #607d8b;

@colors : 'red', 'pink', 'purple', 'deep-purple', 'indigo', 'blue', 'light-blue', 'cyan', 'teal', 'green', 'light-green', 'lime', 'yellow', 'amber', 'orange', 'deep-orange', 'brown', 'grey', 'blue-grey';
@complements : 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'black', 'black', 'black', 'black', 'black', 'white', 'white', 'black', 'white';

.header.item {
  .f(@i: length(@colors)) when (@i > 0) {
  @name: e(extract(@colors, @i));
  @complement: e(extract(@complements, @i));
  &.@{name} {background: @@name !important; color: @@complement !important;}
  .f((@i - 1));
} .f;
}
.header.item {
  .f(@i: length(@colors)) when (@i > 0) {
  @name: e(extract(@colors, @i));
  @complement: e(extract(@complements, @i));
  &.@{name} > a {color: @@complement !important;}
  .f((@i - 1));
} .f;
}

.event {
  .f(@i: length(@colors)) when (@i > 0) {
  @name: e(extract(@colors, @i));
  @complement: e(extract(@complements, @i));
  &.@{name} {
    background: @@name !important;
    color: @@complement !important;
    font-size: 12px;
    text-align: center;
  }
  .f((@i - 1));
} .f;
}

.header.item > .menu {
  background: #fff;
}
.header.grey{
  color: red !important;
}

.menu.transition.visible {
  overflow-y: scroll !important;
}

div.react-autocomplete-Autocomplete--resultsShown > span.text{
  visibility:hidden !important;
}
div.react-autocomplete-Autocomplete > input.search {
  visibility: hidden !important;
}

div.react-autocomplete-Autocomplete--resultsShown > input.search {
  visibility: visible !important;
}

#right-menu{
  padding-bottom: 0px;
}
.image-pager {
  text-align: center;
}
.image-pager img {
  width: 15%;
  display: inline-block;
}