@import "~bootstrap/less/bootstrap.less";



.react-autocomplete-Autocomplete__results {
  .dropdown-menu();
}

.react-autocomplete-Results {
  max-height: 100000%;
}

.react-autocomplete-Result {
  cursor: pointer;
  & > a {
    text-decoration: none;
  }
}

.react-autocomplete-Result--active {
  color: @dropdown-link-hover-color;
  background-color: @dropdown-link-hover-bg;
}

.main {
  padding-top: 40px;
}

.no-show > div {
  display: none;
}

input[type="checkbox"].toggle {
  margin: 4px 10px 0px 0px;
  vertical-align: text-bottom;
}